.container{
    background-color: #f8f8f8;
    min-height: 91vh;
}

.child{
    margin-top: 10px;
    padding: 20px;
    width: 780px;
    background-color: #fff;
    box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

form{
    margin-top: 20px;
    text-align: center;
}

.profile{
    height: 130px;
    width: 200px;
    border-radius: 10px;
}

.row{
    padding: 30px;
    width: 780px;
    background-color: #fff;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

i{
    font-size: 20px;
    font-weight:bold;
}

.vertical-center{
    margin: 0;
    position: absolute;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

h2{
    cursor: pointer;
    color:rgb(36, 20, 0);
}

h2:hover{
    text-decoration:underline;
}

button{
    background-color:#e88f09;
    color:#f8f8f8;
    border-color: #e88f09;
    border-radius: 2px;
}

button:hover{
    background-color:#f8f8f8;
    color:#e88f09;
    border-color: #e88f09;
    border-radius: 2px;
}

hr{
    margin: 10px 0px;
}

p{
    margin-bottom: 0;
}

tr{
    padding: 0px 5px;
    margin-bottom: 0;
}

.pagination{
    width: 780px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    margin-top: 20px;
}

