<div *ngIf="isAdminLoggedIn">
    <nz-header class="main-header" nz-row nzType="flex">
        <div>
            <a style="color: white; margin-left: 50px; font-size:18px; font-weight: bolder;" routerLink="/admin/dashboard"
            >Restaurant System</a>
        </div>
        <div class="nav-links">
            <a nz-button nzType="link" routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
            <a nz-button nzType="link" routerLink="/admin/category" routerLinkActive="active">Category</a>
            <a nz-button nzType="link" routerLink="/admin/reservations" routerLinkActive="active">Reservations</a>
            <a nz-button nzType="link" routerLink="/login" routerLinkActive="active" (click)="logout()">Logout</a>
        </div>
    </nz-header>
</div>

<div *ngIf="isUserLoggedIn">
    <nz-header class="main-header" nz-row nzType="flex">
        <div>
            <a style="color: white; margin-left: 50px; font-size:18px; font-weight: bolder;" routerLink="/user/dashboard"
            >Restaurant System</a>
        </div>
        <div class="nav-links">
            <a nz-button nzType="link" routerLink="/user/dashboard" routerLinkActive="active">Dashboard</a>
            <a nz-button nzType="link" routerLink="/user/reservation" routerLinkActive="active">Reserve</a>
            <a nz-button nzType="link" routerLink="/user/reservations" routerLinkActive="active">Reservations</a>
            <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Logout</a>
        </div>
    </nz-header>
</div>

<div *ngIf="!isAdminLoggedIn && !isUserLoggedIn">
    <nz-header class="main-header" nz-row nzType="flex">
        <div>
            <a style="color: white; margin-left: 50px; font-size:18px; font-weight: bolder;" routerLink="/login"
            >Restaurant System</a>
        </div>
        <div class="nav-links">
            <a nz-button nzType="link" routerLink="/signup" routerLinkActive="active">Sign up</a>
            <a nz-button nzType="link" routerLink="/login" routerLinkActive="active" (click)="logout()">Login</a>
        </div>
    </nz-header>
</div>
<router-outlet></router-outlet>