<div class="bg" style="background-color: #f8f8f8">
    <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Loading">
      <div class="parent">
        <div class="child">
          <div nz-row class="imgDiv">
            <div nz-col nzSpan="24">
              <h1 style="margin-left: 80px">Login</h1>
            </div>
          </div>
  
          <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()">
            <nz-form-item>
              <nz-form-control nzErrorTip="Input an email">
                <nz-input-group nzPrefixIcon="user">
                    <input
                      type="text"
                      nz-input
                      placeholder="E-mail"
                      formControlName="email"
                    />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
  
            <nz-form-item>
              <nz-form-control nzErrorTip="Input a password">
                <nz-input-group nzPrefixIcon="lock">
                    <input
                      nz-input
                      placeholder="Password"
                      type="password"
                      formControlName="password"
                    />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
<!-- 
            <div nz-row class="login-form-margin">
                <div nz-col [nzSpan]="12">
                    <label nz-checkbox formControlName="remember">
                        <span>Remember me</span>
                    </label>
                </div>
                <div nz-col [nzSpan]="12">

                </div>
            </div>             -->
  
            <button
              nz-button
              class="login-form-button login-form-margin"
            >
              Login
            </button>
            Or <a routerLink="/signup"> register now!</a>
          </form>
        </div>
      </div>
    </nz-spin>
  </div>
  